@using TaskTracker.Models
@model List<StudentTask>

<h1>Delete Student Task</h1>

<form method="post">
    @foreach (var studentTask in Model)
    {
    



    <div class="form-group">
        <label>
            <span>@studentTask.Name</span>
            <input type="checkbox" name="studentTaskIds" value="@studentTask.Id" />
        </label>
    </div>
    }

    <input type="submit" name="Delete Selected Tasks" class="btn btn-danger" />

</form>
