@using TaskTracker.Models

@model List<StudentTag>

<h2>Select Student To View Assigned Tasks:</h2>
<table class="table table-hover">
    

    @foreach (var tag in Model)
    {
        <tr>
            <td><a asp-controller="StudentTag" asp-action="Detail" asp-route-id="@tag.Id">@tag.StudentName</a></td>
        </tr>
    }
</table>

