@{
    ViewData["Title"] = "Home Page";
}
@*@using TaskTracker.Models

@model List<StudentTag>*@

<div class="bg-image d-flex justify-content-center align-items-center"
     style="        background-image: url('https://images.unsplash.com/photo-1527891751199-7225231a68dd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;">

    <h1 class="text-white">Welcome to CampusTasks</h1>



    @*<table class="table">
            <tr>
                <th>Select A Student:</th>
            </tr>

            @foreach (var tag in Model)
            {
                <tr>
                    <td><a asp-controller="StudentTask" asp-action="Detail" asp-route-id="@tag.Id">@tag.StudentName</a></td>
                </tr>
            }
        </table>*@



</div>
