@model List<TaskTracker.Models.TaskTag>

@if (Model.Count == 0)
{
    <h1>No tasks yet!</h1>
}
else
{
    <h1>Tasks Assigned to @Model[0].StudentTag.StudentName</h1>

    <ul>
        @foreach (var taskTag in Model)
        {
            <li><a asp-controller="StudentTask" asp-action="DetailStudent" asp-route-id="@taskTag.StudentTaskId">@taskTag.StudentTask.Name</a></li>
        }
    </ul>
}