@using TaskTracker.Models

@model List<StudentTag>

<h1>Student Tags</h1>



@if (Model.Count == 0)
{
    <p>No tag yet!</p>
    <p>
        <a asp-controller="StudentTag" asp-action="Add">Add Student Tag</a>
    </p>

    <p>
        <a asp-controller="StudentTag" asp-action="Delete">Delete Student Tag</a>
    </p>
}
else
{
    <table class="table">
        <tr>
            <th>
                Id
            </th>

            <th>
                Student Name
            </th>
        </tr>
        @foreach (var tag in Model)
        {
            <tr>
                <td>@tag.Id</td>
                <td><a asp-controller="StudentTag" asp-action="Detail" asp-route-id="@tag.Id">@tag.StudentName</a></td>
            </tr>
        }

    </table>
    <p>
        <a asp-controller="StudentTag" asp-action="Add">Add Student Tag</a>
    </p>

    <p>
        <a asp-controller="StudentTag" asp-action="Delete">Delete Student Tag</a>
    </p>

}