@model string

<h1 class="bg-light text-black">Create a Role</h1>
<a asp-action="AllRoles" class="btn btn-light text-black">Back</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="CreateRole" method="post">
    <div class="form-group">
        <label for="name">Name:</label>
        <input name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-light text-black">Create</button>
</form>